In [4]:
import os
import pandas as pd
import math
import numpy as np

In [5]:
routeid_list = ["CAB285000006",
                "CAB285000007",
                "CAB285000008",
                "CAB285000009",
                "CAB285000010",
                "CAB285000011",
                "CAB285000012",
                "CAB285000013",
                "CAB285000024",
                "CAB285000025",
                "CAB285000293",
                "CAB285000294"]

dir_list = ["Stage_1", "Stage_2", "Stage_3", "Stage_4"]

for r_id in routeid_list:
    bus_dic = {}
    bus_df = pd.DataFrame(columns=['Stage', 'Time gap', 'Average'])
    
    for idx, directory in enumerate(dir_list):
        path =  directory 
        file_list = os.listdir(path)

        bus_dic[directory] = []
        
        for file in file_list:

            df = pd.read_csv(path+"/"+file)
            curr_bus = df[df["routeid"] == r_id]
            for i in range(0, len(curr_bus), 2):
                gap = curr_bus.iloc[i+1, 6] - curr_bus.iloc[i, 6]
                bus_dic[directory].append(abs(gap))

        bus_df.at[idx, "Stage"] = idx + 1
        bus_df.at[idx, "Time gap"] = bus_dic[directory]
        bus_df.at[idx, "Average"] = np.mean(bus_dic[directory])

    file_name = "./mine/"+r_id +".csv"
    bus_df.to_csv(file_name, index=False, mode='w', encoding='utf-8-sig')

FileNotFoundError: [Errno 2] No such file or directory: './mine/CAB285000006.csv'

In [7]:
bus_11 = pd.read_csv("CAB285000006.csv")
bus_11

   Stage                                           Time gap     Average
0      1  [658, 859, 1530, 586, 971, 971, 698, 726, 661,...  806.977387
1      2  [1505, 647, 930, 852, 1341, 646, 794, 745, 745...  805.548000
2      3  [905, 1211, 439, 966, 199, 261, 693, 1002, 193...  779.909814
3      4  [754, 1208, 356, 1160, 598, 1358, 662, 590, 59...  798.473856

In [54]:
total_averages = pd.DataFrame(columns=["CAB285000006","CAB285000007","CAB285000008","CAB285000009","CAB285000010","CAB285000011","CAB285000012","CAB285000013","CAB285000024","CAB285000025","CAB285000293","CAB285000294"],index=["Stage_1","Stage_2","Stage_3","Stage_4"])

In [55]:
total_averages

,CAB285000006,CAB285000007,CAB285000008,CAB285000009,CAB285000010,CAB285000011,CAB285000012,CAB285000013,CAB285000024,CAB285000025,CAB285000293,CAB285000294
Stage_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
path =  "./mine"
file_list = os.listdir(path)
print(file_list)

['.ipynb_checkpoints', 'CAB285000006.csv', 'CAB285000007.csv', 'CAB285000008.csv', 'CAB285000009.csv', 'CAB285000010.csv', 'CAB285000011.csv', 'CAB285000012.csv', 'CAB285000013.csv', 'CAB285000024.csv', 'CAB285000025.csv', 'CAB285000293.csv', 'CAB285000294.csv']

In [56]:
for i in range(1,len(file_list)):
    temp = pd.read_csv("./mine/"+file_list[i])
    r_id = file_list[i][:-4]
    aaa = list()

    total_averages[r_id][0] = (temp["Average"][0])
    total_averages[r_id][1] = (temp["Average"][1])
    total_averages[r_id][2] = (temp["Average"][2])
    total_averages[r_id][3] = (temp["Average"][3])

total_averages["total_average"] = total_averages.mean(axis=1)
total_averages.to_csv("data_table.csv", index=False, mode='w', encoding='utf-8-sig')
#     aver_col = temp['Average']
#     temp_df = pd.DataFrame(aver_col, columns=[r_id])

In [144]:
# bus11_up_df = pd.DataFrame()
bus_dic = {
    dir_list[0]: [],
    dir_list[1]: [],
    dir_list[2]: [],
    dir_list[3]: []
}

In [145]:
path = path_dir+dir_list[0]
print(path)
file_list = os.listdir(path)


df = pd.read_csv(path+'/'+file_list[0])
print(file_list[0])
# print(df) # 5/18

bus11_up = df[df['routeid'] == routeid_list[0]]

# print(bus11_up.count())
# print(len(bus11_up))
# print(bus11_up)
for i in range(0, len(bus11_up), 2):
#     print(i, bus11_up.iloc[i,6])
#     print(i+1, bus11_up.iloc[i+1, 6])
    gap = bus11_up.iloc[i+1, 6] - bus11_up.iloc[i, 6]
    
    bus11_up_dic[dir_list[0]].append(abs(gap))
#     print(type(bus11_up.iloc[i,6]))
print(bus11_up_dic)

C:/Users/tjdwl/Sangmyung_BigData_Team_J-AWS/Stage_1
2021_05_18_test_output.csv
{'Stage_1': [658, 859, 1530, 586, 971, 971, 698, 726, 661, 661, 581, 962, 962, 974, 613, 874, 1026, 662, 625, 1169, 979, 725, 1104, 813, 808, 803, 833, 736, 967, 763, 999, 411, 411, 1636, 736, 850, 370, 982, 744, 772, 736, 591, 937, 948, 614, 874, 788, 732, 803, 535, 523, 658, 508, 465, 1004, 841, 968, 647, 1164, 833, 932, 610, 981, 733, 864, 858, 649, 498, 824, 896, 505, 681, 814, 695, 1135, 832, 841, 774, 1382, 639, 751, 790, 657, 604, 817, 1110, 851, 867, 719, 1143, 673], 'Stage_2': [], 'Stage_3': [], 'Stage_4': []}

In [170]:
# df 만들기
bus11_up_df = pd.DataFrame( columns=['Stage', 'Time gap', 'Average'])
#bus11_up_df
# for key in bus11_up_dic:
for idx in range(4):
    bus11_up_df.at[idx, "Stage"] = idx + 1
    bus11_up_df.at[idx, "Time gap"] = bus11_up_dic[dir_list[idx]]
    bus11_up_df.at[idx, "Average"] = np.mean(bus11_up_dic[dir_list[idx]])
# bus11_up_df = 
bus11_up_df

C:\Users\tjdwl\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3372: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\Users\tjdwl\anaconda3\lib\site-packages\numpy\core\_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

  Stage                                           Time gap  Average
0     1  [658, 859, 1530, 586, 971, 971, 698, 726, 661,...  807.747
1     2                                                 []      NaN
2     3                                                 []      NaN
3     4                                                 []      NaN

In [83]:
for directory in dir_list:
    path = path_dir+dirictory
    file_list = os.listdir(path)
    bus_dic = {}
    for file in file_list:
        df = pd.read_csv(path +"/"+file)
        
        for r_id in routeid_list:
#             bus_dic = { dir_list[0]: [],dir_list[1]: [],dir_list[2]: [], dir_list[3]: []}
            bus_dic[directory] = []
            
            for k in range(0, len(df2), 2):
                print(k)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82

In [4]:
file_list = os.listdir("Stage_4")
a = file_list[4]
print(a)
aa = pd.read_csv('./Stage_4/'+a)
# print(file_list)

2021_05_22_test_output.csv