In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
route_group_by_interval_time = dict() # {10: [# 배차 간격이 10분인 버스 ids]}

In [3]:
route_info_df = pd.read_csv('../csv/route_info.csv', index_col=0)
route_info_df

,routeid,routeno,startnodenm,startvehicletime,endnodenm,endvehicletime,intervaltime
0,CAB285000006,11,두정우성아파트,605,두정우남아파트,2230,10
1,CAB285000007,11,두정우남아파트,610,두정한성아파트,2230,10
2,CAB285000008,12,방아다리공원,604,부영아파트,2230,7
3,CAB285000009,12,부영아파트,605,방아다리공원,2222,7
4,CAB285000010,13,단대병원,600,천안아산역,2230,11
5,CAB285000011,13,천안아산역,605,단대병원,2245,11
6,CAB285000012,14,방아다리공원,600,백석대학교(운동장),2220,10
7,CAB285000013,14,백석대학교(운동장),610,방아다리공원,2215,10
8,CAB285000024,24,각원사,610,동우아파트,2230,20
9,CAB285000025,24,동우아파트,620,각원사,2225,20
10,CAB285000293,81,각원사,620,차암2통,2240,20
11,CAB285000294,81,차암2통,630,각원사,2230,20

In [4]:
for i in range(len(route_info_df)):
    if route_info_df.iloc[i, 6] not in route_group_by_interval_time:
        route_group_by_interval_time[route_info_df.iloc[i, 6]] = list()
    route_group_by_interval_time[route_info_df.iloc[i, 6]].append(route_info_df.iloc[i, 0])
    
route_group_by_interval_time

{10: ['CAB285000006', 'CAB285000007', 'CAB285000012', 'CAB285000013'],
 7: ['CAB285000008', 'CAB285000009'],
 11: ['CAB285000010', 'CAB285000011'],
 20: ['CAB285000024', 'CAB285000025', 'CAB285000293', 'CAB285000294']}

### Compute interval time difference

In [6]:
interval_aver_df = pd.read_csv('../csv/data_table.csv')
interval_aver_df

,CAB285000006,CAB285000007,CAB285000008,CAB285000009,CAB285000010,CAB285000011,CAB285000012,CAB285000013,CAB285000024,CAB285000025,CAB285000293,CAB285000294,total_average
0,806.977387,772.654124,525.265973,528.171875,540.390947,633.551308,865.961250,659.640845,986.110865,865.662125,808.112335,865.453968,738.162750
1,805.548000,779.141994,518.970266,526.023451,591.745342,778.535088,859.224299,692.057584,1136.805000,1066.214744,724.991361,867.588850,778.903831
2,779.909814,732.805215,560.141946,560.023256,716.148073,814.033333,905.069799,678.465753,1224.865633,1217.277778,879.091093,1045.473016,842.775392
3,798.473856,830.686025,606.470135,687.753479,671.830688,964.053191,915.948357,708.767213,1256.926056,1178.532110,865.940510,1018.623482,875.333759

In [ ]:
for interval_time, bus_list in route_group_by_interval_time.items():
    group_interval_tim = list()
    for i in range(len(bus_list)):
        group_path_sim.append(list())
        curr_bus_node_ids_str = node_id_df.loc[i, 'node_ids'] # extract node_ids from node_id_df
        curr_bus_node_ids = curr_bus_node_ids_str[1:-1].replace("'", "").split(', ') # str -> str arrary
        
        for j in range(len(bus_list)):
            comp_bus_node_ids_str = node_id_df.loc[j, 'node_ids'] # extract node_ids from node_id_df
            comp_bus_node_ids = comp_bus_node_ids_str[1:-1].replace("'", "").split(', ') # str -> str arrary
            
            # Compute path similarity
            path_sim = jaccard_sim(curr_bus_node_ids, comp_bus_node_ids)
            group_path_sim[i].append(path_sim)
    
    # Draw graph
    group_path_sim_T = np.transpose(group_path_sim) # temp = group_path_sim.T
    print(group_path_sim_T)
    
    fig = plt.figure(figsize=[len(bus_list), len(bus_list)])
    plt.imshow(group_path_sim_T, interpolation='none', vmin=0, vmax=0.3)
    plt.colorbar(shrink=0.7)
    plt.xticks(range(len(bus_list)), bus_list, rotation=90, ha='center')
    plt.yticks(range(len(bus_list)), bus_list)
    
    # save graph
    plt.savefig('../image/path_similarity_interval_'+str(interval_time)+'.png')

    print('======== [ end comparing of interval group{} ]'.format(interval_time))